*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app_conatiner{
    height: 850px;
    width: 380px;
    background-image: linear-gradient(#5f77fc,#ed5d5d);
    
    transform: absolute;    
}
.top-box{
    height:1200px;
    background-color:#69abc9 ;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.top-box p{
    text-align: center;
    padding-top: 20px;
    color:rgb(39, 5, 5);
}
.left-icon{
    float:left;
    margin-left: 30px;
}
.right-icon{
    float:right;
    margin-left: 30px;
}
.middle-box{
    height: 150px;
    margin: -70px 30px 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    background-image: linear-gradient(#abb2e7,#382fe6);
}
.middle-box h1{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: normal;
}
.middle-box h1 span{
    font-size: 20px;
    margin-left: 5px;
    bottom: 18px;
    position: relative;
}

.payment-option-btn{
    color: #fff;
    margin: 5px 30px;
    height: 30px;
    width: 290px;
    background-color: #dc9595;
    border: none;
    cursor:pointer;
}

.card-details{
    background: #fff;
    color: #555;
    margin: 10px 30px;
    padding: 10px;
    font-weight: bold;
}
.card-details p{
    font-size: 14px;
    font-weight: bold;

}
.card-details label{
    font-size: 10px;
    line-height: 20px;
}

.card-num-field-group{
    margin-top: 10px;
}
.date-field-group{
    margin-top: 10px;
    display: inline-block;
}
.cvc-field-group{
    margin-top: 10px;
    display: inline-block;
    /* float: right; */
}
.cvc-field-group{
    margin-top: 10px;
}

.card-num-field, .name-field{
    width: 270px;
}

.date-field, .cvc-field{
    width: 80px;
}

.card-details input{
    border: 1px solid #ccc;
    height: 22px;
    padding: 5px;
    font-size: 10px;
}

.card-details input::placeholder{
    color: #ccc;
}
.pay-btn{
    color: #fff;
    margin-top: 20px;
    height: 30px;
    width: 270px;
    background-color: #9100fd;
    border: none;
    cursor:pointer;
}
